.body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./assets/dictatorship-oppression-collage-concept.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}